{% extends 'base.html' %}

{% block main %}

<h2>{{ category_title }} ({{ quantity }})</h2>

<section class="cards">
    {% for plant in plants %}

    <div class="card">

        <div class="card__thumbnail">
            <img class="card-img" src="{{ url_for('send_file', filename=plant.thumbnail) }}" alt="Image">
        </div>

        <p>{{ plant.name }}</p>
        <p>{{ plant.intro }}</p>

        <div class="btn-card__detail">
            <a href="{{ url_for('show_plant', plant_id=plant.id) }}">Details</a>
        </div>
        <div class="btn-card__location">
            <a href="{{ url_for('show_map', plant_id=plant.id) }}">Location</a>
        </div>

    </div>

    {% endfor %}
</section>

<nav class="nav-buttons">
    <div class="btn-back">
        <a href="{{ url_for('index') }}">Back home</a>
    </div>
</nav>

{% endblock %}
