{% extends 'base.html' %}

{% block main %}

<div class="main-title">
  <h1 class="montserrat-alternates-extrabold">{{ settings['main_title'] }}</h1>
</div>

<section class="message">
  <p class="message__text source-sans-3-400">{{ message.text|safe }}</p>
  <div class="message__author">
    <p class="caveat-400">{{ message.author|safe }}</p>
  </div>
</section>

<section class="categories montserrat-alternates-medium">
  {% for category in categories %}

    <a href="{{ url_for('show_category', category_name=category.name) }}" class="category-button">
      <img src="{{ url_for('static', filename='icons/icon_btn_02.png') }}" alt="Icon" width="50" height="50">
      <span>{{ category.value['title'] }} ({{ quantities[category.name] }})</span>
    </a>

  {% endfor %}
</section>

{% endblock %}
