{% extends 'base.html' %}

{% block main %}

<h1 class="main-title">{{ settings['main_title'] }}</h1>

<section class="message">
  <p class="message__text">{{ message.text|safe }}</p>
  <p class="message__author">{{ message.author|safe }}</p>
</section>

<section class="categories">
  {% for category in categories %}
    <div class="btn-category">
      <a href="{{ url_for('show_category', category_name=category.name) }}">{{ category.value['title'] }} ({{ quantities[category.name] }})</a>
    </div>
  {% endfor %}
</section>

{% endblock %}
