{% extends 'base.html' %}

{% block main %}

<h2>{{ plant_name }}</h2>

<p>Zone: {{ location }}</p>

<section class="location">

    <div class="map">
        <img src="{{ url_for('static', filename='map.svg') }}" alt="Image-map">
    </div>

    <video autoplay muted loop>
        <source src="{{ url_for('static', filename='spot.webm') }}" type="video/mp4">
    </video>

</section>

<nav class="nav-buttons">
    <div class="btn-back">
        <a href="{{ url_for('show_plant', plant_id=plant_id) }}">Back {{ plant_name }}</a>
    </div>
    <div class="btn-back">
        <a href="{{ url_for('show_category', category_name=category.name) }}">Back {{ category.value['title'] }}</a>
    </div>
    <div class="btn-back">
        <a href="{{ url_for('index') }}">Back home</a>
    </div>
</nav>

{% endblock %}
