{% extends 'base.html' %}

{% block main %}

<h2>{{ plant_name }}</h2>

<section class="articles">

    <p>Articles about plant</p>

</section>

<div class="btn-location">
    <a href="{{ url_for('show_map', plant_id=plant_id) }}">Location</a>
</div>

<nav class="nav-buttons">
    <div class="btn-back">
        <a href="{{ url_for('show_category', category_name=category.name) }}">Back {{ category.value['title'] }}</a>
    </div>
    <div class="btn-back">
        <a href="{{ url_for('index') }}">Back home</a>
    </div>
</nav>

{% endblock %}
