{% extends 'base.html' %}

{% block meta %}
  <meta name="description" content="{{ settings['description_garden'] }}">
  <meta name="keywords" content="{{ settings['keywords'] }}">
{% endblock %}


<body>
  <!-- <img src="{{ url_for('static', filename='footer-bg.png') }}" alt="Image-footer" class="bottom-image"> -->

<div class="site-container">

  <header>
    <img src="{{ url_for('static', filename='icons/logo_01.svg') }}" alt="Image-logo" class="logo">
    <p class="header-text montserrat-alternates-medium">{{ settings['site_header'] }}</p>
    <img src="{{ url_for('static', filename='icons/menu_02.svg') }}" alt="Image-menu" class="menu">
  </header>

  <main class="main">
    {% block main %}{% endblock %}
  </main>

  <footer class="footer source-sans-3-400">
  </footer>

</div>

</body>

</html>
