astroid==3.3.8
blinker==1.9.0
click==8.1.8
colorama==0.4.6
dill==0.3.9
distlib==0.3.9
filelock==3.18.0
Flask==2.3.3
Flask-SQLAlchemy==3.1.1
greenlet==3.1.1
isort==6.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mccabe==0.7.0
numpy==2.2.3
pillow==11.1.0
platformdirs==4.3.6
pylint==3.3.4
SQLAlchemy==2.0.39
tomlkit==0.13.2
typing_extensions==4.12.2
virtualenv==20.30.0
Werkzeug==3.1.3
