{% extends 'base.html' %}

{% block main %}

<div class="subtitle">
    <h2 class="montserrat-alternates-semibold">{{ category_title }} ({{ quantity }})</h2>
</div>

<section class="card-container">
    {% for plant in plants %}

    <div class="card">
        <img class="card-img" src="{{ url_for('send_file', filename=plant.thumbnail) }}" alt="Image">

        <div class="card-content">

            <h3 class="montserrat-alternates-semibold">{{ plant.name }}</h3>
            <p class="source-sans-3-400">{{ plant.intro }}</p>

            <div class="button-container">
                <a href="{{ url_for('show_plant', plant_id=plant.id) }}" class="card-button">
                    <span class="montserrat-alternates-medium">{{ settings['details_name'] }}</span>
                </a>
                <a href="{{ url_for('show_map', plant_id=plant.id) }}" class="card-button">
                    <span class="montserrat-alternates-medium">{{ settings['location_name'] }}</span>
                </a>
            </div>

        </div>

    </div>

    {% endfor %}
</section>


<nav class="nav-buttons">
        <a href="{{ url_for('index') }}" class="nav-button">
            <span class="montserrat-alternates-medium">{{ settings['home_name'] }}</span>
        </a>
</nav>

<button onclick="topFunction()" id="myBtn" title="Go to top"></button>

<script src="{{ url_for('static', filename='js/btn_top.js') }}"></script>

{% endblock %}
