{% extends 'base.html' %}

{% block main %}

<div class="subtitle">
    <h2 class="montserrat-alternates-semibold">{{ plant_name }}</h2>
</div>

<section class="location-info">
    <p class="source-sans-3-400">{{ plant_name }} находится в зоне {{ location }}</p>
</section>

<section class="location">

    <div class="map">
        <img src="{{ url_for('static', filename='map.png') }}" alt="Image-map">
    </div>

    <video autoplay="autoplay" loop="loop" muted="muted" playsinline="playsinline">
        <source src="{{ url_for('static', filename='spot.webm') }}" type='video/webm'>
    </video>

</section>

<nav class="nav-buttons">
    <a href="{{ url_for('show_plant', plant_id=plant_id) }}" class="nav-button">
        <span class="montserrat-alternates-medium">{{ plant_name }}</span>
    </a>
    <a href="{{ url_for('show_category', category_name=category.name) }}" class="nav-button">
        <span class="montserrat-alternates-medium">{{ category.value['title'] }}</span>
    </a>
    <a href="{{ url_for('index') }}" class="nav-button">
        <span class="montserrat-alternates-medium">{{ settings['home_name'] }}</span>
    </a>
</nav>

{% endblock %}
