{% extends 'admin_base.html' %}

{% block main %}

    {% for msg in get_flashed_messages() %}
        <div>{{ msg }}</div>
    {% endfor %}
    <div>
        <a href="{{ url_for('create_message') }}">Create message</a>
    </div>
    <div>
        <a href="{{ url_for('show_live_messages') }}">Show live messages</a>
    </div>
    <div>
        <a href="{{ url_for('create_plant') }}">Create plant</a>
    </div>
    <div>
        <a href="{{ url_for('show_live_plants') }}">Show live plants</a>
    </div>

{% endblock %}
