{% extends 'admin_base.html' %}

{% block main %}

  {% for msg in get_flashed_messages() %}
    <div>{{ msg }}</div>
  {% endfor %}

  {% for message in messages %}
    <p>{{ message.id }}</p>
    <p>{{ message.text }}</p>
    <p>{{ message.author }}</p>
    <p>{{ message.priority }}</p>
    <p>{{ message.display }}</p>

    <button type="button">
      <a href="{{ url_for('handle_message', message_id=message.id) }}">Edit</a>
    </button>

    <form method="POST" action="/admin/message/{{ message.id }}">
      <input type="hidden" name="_method" value="delete">
      <button type="submit">Archive</button>
    </form>

    <hr>
  {% endfor %}
  <div class="btn-back">
    <a href="{{ url_for('open_admin_page') }}">Back</a>
  </div>
{% endblock %}
