{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Garden admin{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for message in messages %}
    <p>{{ message.id }}</p>
    <p>{{ message.text }}</p>
    <p>{{ message.author }}</p>
    <p>{{ message.priority }}</p>
    <p>{{ message.display }}</p>
    <p>{{ message.status }}</p>
    <p>{{ message.timestamp }}</p>
    <button type="button">
      <a href="{{ url_for('edit_message', message_id=message.id) }}">Edit</a>
    </button>
    <hr>
  {% endfor %}
  <div class="btn-back">
    <a href="{{ url_for('open_admin_page') }}">Back</a>
  </div>
{% endblock %}
