{% extends 'admin_base.html' %}

{% block main %}
  {% for plant in plants %}
    <p>{{ plant.id }}</p>
    <p>{{ plant.name }}</p>
    <p>{{ plant.category }}</p>
    <p>{{ plant.code }}</p>
    <p>{{ plant.intro }}</p>
    <p>{{ plant.thumbnail }}</p>
    <p>{{ plant.location }}</p>
    <p>{{ plant.display }}</p>
    <p>{{ plant.status }}</p>
    <p>{{ plant.timestamp }}</p>
    <button type="button">
      <a href="{{ url_for('edit_plant', plant_id=plant.id) }}">Edit</a>
    </button>
    <hr>
  {% endfor %}
  <div class="btn-back">
    <a href="{{ url_for('open_admin_page') }}">Back</a>
  </div>
{% endblock %}
