body {
    /* position: relative;
    min-height: 100vh;
    display: flex; */
    padding-top: 10px;
}
/* .bottom-image {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
}   */
.site-container {
    flex-grow: 1;
    background-image: url(../site_bg_02.png);
    background-position: left bottom;
    background-repeat: no-repeat;
}
header {
    height: 50px;
    line-height: 50px;
    padding: 0 10px 0 15px;
    margin-bottom: 20px;
}
header p {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    color: #212121;
}
.menu {
    float: right;
}
main {
    padding: 0 10px 0 15px;
    text-align: left;
    font-size: 14px;
    color: #212121;
}
.footer {
    padding: 0 10px 0 15px;
    font-size: 14px;
    color: #212121;
    height: 280px;
}


/* index.html */

.main-title {
    font-size: 50px;
    color: #3A4A2F;
    margin-bottom: 20px;
}
.message {
    margin-bottom: 32px;
}
.message__text {
    font-size: 16px;
    margin-bottom: 8px;
}
.message__author p {
    font-size: 18px;
    display: inline;
    padding-bottom: 2px;
    border-bottom: 1px solid #212121;
}



.category-button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
    background: #d9d9d9;
    color: #212121;
    text-decoration: none;
    border-radius: 40px;
    transition: background 0.3s;
    margin: 0 5px 10px 0;
}
.category-button:hover {
    background: #cacaca;
}
.category-button span {
    padding-right: 10px;
    font-size: 14px;
}
/* .category-button img {
    vertical-align: middle;
} */


/* category.html */
.subtitle {
    font-size: 24px;
    color: #3A4A2F;
    margin-bottom: 10px;
}
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.card {
    width: 320px;
    height: 380px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    /* bow-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); */
    margin: 10px;
    padding-top: 10px;
    position: relative;
    text-align: center;
}
.card img {
    width: 300px;
    height: auto;
}
.card-content {
    padding: 10px;
    text-align: left;
}
.card-content h3 {
    font-size: 18px;
    margin-bottom: 8px;
}
.card-content p {
    font-size: 16px;
    line-height: 1.3;
}
.card-button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
    background: #d9d9d9;
    color: #212121;
    text-decoration: none;
    border-radius: 20px;
    transition: background 0.3s;
    margin: 0 5px 10px 0;
}
.card-button:hover {
    background: #cacaca;
}
.card-button span {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
}
.button-container {
    position: absolute;
    bottom: 10px;
}

/* navigation buttons */
.nav-button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
    background: #d9d9d9;
    color: #212121;
    text-decoration: none;
    border-radius: 20px;
    transition: background 0.3s;
    margin: 0 10px 10px 0;
}
.nav-button:hover {
    background: #cacaca;
}
.nav-button span {
    padding: 0 10px 0 10px;
    font-size: 14px;
}

/* plants.html */
.article-container {
    margin-bottom: 20px;
    font-size: 14px;
}



/* location.html */
.map img {
    width: 300px;
}
.location-info {
    margin-bottom: 20px;
}
.location {
    position: relative;
    margin-bottom: 70px;
}
.location video {
    position: absolute;
    top: 110px;
    left: 50px;
}
